<div id="detalhes" class="modal" *ngIf="mostrar">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Detalhes</h2>
            <span class="close" (click)="fecharModal()">&times;</span>
        </div>
        <div class="modal-body">
            <div *ngIf="detalhes">
                <div class="row">
                    <label><b>Nome do dragão</b></label>
                    <label>{{detalhes.name}}</label>
                </div>
                <div class="row">
                    <label><b>Nome do dragão</b></label>
                    <label>{{detalhes.type}}</label>
                </div>
                <div class="row">
                    <label><b>Criado em</b></label>
                    <label>{{detalhes.criadoEm}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="excluir" (click)="fecharModal()">
                <span class="material-icons">close</span>
                <span class="legenda-botao">Fechar</span>
            </button>
        </div>
    </div>
</div>