<app-nav-bar></app-nav-bar>
<div class="row">
    <button type="button" class="novo" [routerLink]="'/novo-dragao'">
        <span class="material-icons">add</span>
        <span class="legenda-botao">Novo dragão</span>
    </button>
</div>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Data de criação</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dragao of dragoes">
                <td>{{dragao.createdAt}}</td>
                <td>{{dragao.name}}</td>
                <td>{{dragao.type}}</td>
                <td>
                    <button type="button" class="visualizar" [routerLink]="'/detalhes/'+dragao.id">
                        <span class="material-icons">search</span>
                        <span class="legenda-botao">Detalhes</span>
                    </button>
                    <button type="button" class="editar" [routerLink]="'/atualizar/'+dragao.id">
                        <span class="material-icons">edit</span>
                        <span class="legenda-botao">Editar</span>
                    </button>
                    <button type="button" class="excluir" (click)="apagarDragao(dragao)">
                        <span class="material-icons">delete</span>
                        <span class="legenda-botao">Excluir</span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="dragoes.length == 0">
                <td colspan="4" class="alerta-falha">
                    <p>Não há dados para exibir</p>
                    <p class="atualizar-lista">
                        <button class="visualizar" *ngIf="dadosVazios" (click)="getDragoes()">
                            <span class="material-icons">refresh</span>
                            <span class="legenda-botao">Atualizar lista</span>
                        </button>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>